@keyframes color {
    from {
        color: brown;
    }
    to {
      color: black;
    }
  }

@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}

body{
    background-color: #69b6ff;
    margin: 0;
    padding: 0;
}

#stats{ font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 300%;
    animation: color 0.75s linear infinite alternate;
}

#global{
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
}

#gtotal{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#itotal{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#gtoday{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#itoday{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#india{
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
}

#image{
    width: 5%;
    position: fixed;
    left: 95%;
    top: 0%;
    animation: rotation 4s infinite linear;
}

#footer{
background-color: skyblue;
margin: 0;
padding: 0;
text-align: center;
color: black;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#mail{
    text-align: center;
    color: purple;
}
