@keyframes color {
    from {
        color: brown;
    }
    to {
      color: blue;
    }
  }


body{
    background-image: linear-gradient(#abd4eb,#faff96); 
}

#stats{ font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 300%;
    animation: color 2s linear infinite alternate;
}

#global{
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
}

#gtotal{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#itotal{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#gtoday{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#itoday{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#india{
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
}

